@model TopMenuModel
@inject Nop.Core.IWebHelper webHelper
<div class="main-menu">
    <nav class="navbar navbar-inverse category-menu">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button aria-expanded="false" data-target="#mobile-menu" data-toggle="collapse" class="navbar-toggle collapsed" type="button" style="float: left;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-links header-top-right">
                <ul>
                    <li>
                        <a class="navbar-brand" style="color: white;font-size: 20px;margin: 5px 0px 0px 0px;" href="/">Rekemash</a>
                    </li>
                    <li>
                        <div class="header-selectors-wrapper">
                            <div class="currency-selector"><select id="customerCurrency" name="customerCurrency" onchange="setLocation(this.value)" aria-label="Currency selector"><option value="http://rekemashcasual.azurewebsites.net/changecurrency/1?returnUrl=%2F">US Dollar</option><option selected="" value="http://rekemashcasual.azurewebsites.net/changecurrency/12?returnUrl=%2F">Naira</option><option value="http://rekemashcasual.azurewebsites.net/changecurrency/6?returnUrl=%2F">Euro</option></select></div>
                        </div>
                    </li>
                    <li class="my-wishlist"><a href="/wishlist" class="ico-wishlist"> <span class="wishlist-label">Wishlist</span> </a></li>
                    <li>
                        <div id="flyout-cart" class="flyout-main-wrapper"><div class="shopping-cart-link"><a href="/cart" class="ico-cart"> <span class="cart-label"></span>  </a></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="mobile-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuBefore })
                @if (Model.DisplayHomepageMenuItem)
                {
                    <li><a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a></li>
                }
                @if (!Model.UseAjaxMenu)
                {
                    var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
                    @foreach (var category in rootCategories)
                    {
                        var categoryLineModel = new TopMenuModel.CategoryLineModel
                        {
                            Category = category
                        };
                        @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                    }
                }
                @foreach (var topic in Model.Topics)
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                @if (Model.NewProductsEnabled && Model.DisplayNewProductsMenuItem)
                {
                    <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                }
                @if (Model.DisplayProductSearchMenuItem)
                {
                    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
                }
                @if (Model.DisplayCustomerInfoMenuItem)
                {
                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                }
                @if (Model.BlogEnabled && Model.DisplayBlogMenuItem)
                {
                    <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                }
                @if (Model.ForumEnabled && Model.DisplayForumsMenuItem)
                {
                    <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                }
                @if (Model.DisplayContactUsMenuItem)
                {
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                }

                <li>
                    <div class="form-group">
                        <input type="text" class="search-nav form-control ui-autocomplete-input" id="small-searchterms" autocomplete="off" placeholder="Search store" name="q" aria-label="Search store" style="margin-left: 20px;width: 65%;margin-top: 10px; display: inline-block;"> <input type="submit" class="btn search-box-button" style="margin-top: -3px;">
                    </div>
                </li>

                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuAfter })
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
@if (Model.UseAjaxMenu)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $("#mobile-menu .dropdown .fa-angle-down").click(function () {
                var $this = $(this);
                $this.siblings("ul.dropdown-menu").slideToggle("slow", function () {
                    if ($this.siblings("ul.dropdown-menu").css('display') == 'block')
                        $this.addClass("rotate");
                    else if ($this.siblings("ul.dropdown-menu").css('display') == 'none')
                        $this.removeClass("rotate");
                });
            });
            var localized_data = {
                AjaxFailure: "@T("MainMenu.AjaxFailure")"
            };
            mainMenu.init('@Url.RouteUrl("GetCatalogRoot")', '@Url.RouteUrl("GetCatalogSubCategories")', 'ul.top-menu.notmobile', 'ul.top-menu.mobile', localized_data);
        });
    </script>

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.menu.js");

}
else
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $("#mobile-menu .dropdown .fa-angle-down").click(function () {
                var $this = $(this);
                $this.siblings("ul.dropdown-menu").slideToggle("slow", function () {
                    if ($this.siblings("ul.dropdown-menu").css('display') == 'block')
                        $this.addClass("rotate");
                    else if ($this.siblings("ul.dropdown-menu").css('display') == 'none')
                        $this.removeClass("rotate");
                });
            });
        });
    </script>

}



